

.review_landing_page{
    width: 100%;
    height: 390px;
    background-image: url(../../media/pictures/two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: auto;
}

.fCleaning_pride{
    text-align: center;
    font-weight: 500;
    /* font-family: Ubuntu, sans-serif; */
    font-size: 19px;
    margin-top: 3rem;
}

@media (max-width:700px) {
    .Review{
        overflow-x: hidden !important;
    }
}

.Review{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    user-select: none !important;
}

.more_reviews{
    width: 99%;
    height: auto;
    /* position: relative; */
    /* top: -5cm; */
    margin-top: 3cm;
    /* margin-bottom: 4cm; */
    padding-bottom: 21px;
    padding-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 3cm;

}

.each_review{
width: calc(99% - 20%);
/* border: 1px dotted red; */
background-color: lemonchiffon;
box-shadow: 2px 3px 14px #ccc;
border-radius: 5px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
line-height: 1.45em;
margin: 1rem;
}

.p_p_p{
    font-family: Montserrat, sans-serif;
}

.div_btn{
    cursor: pointer;
    background: red;
    color: #fff;
    padding: 19px 37px;
    transition: background .2s linear;
}

.div_btn:hover{
    background: rgb(198, 22, 22);
}

.div_btn:active{
    transform: scaleY(0.9);
}